recursive-include _cffi_build *

# Remove CFFI files
global-exclude __pycache__/*

# Include Cython code
global-include *.pyx
global-include *.pxd
include anonlink/solving/_multiparty_solving_inner.h
include _cffi_build/libpopcount.h
include anonlink/_entitymatcher*
